<html>
    <head>
        <title>Build System Analysis</title>
    </head>
    <body>
        Build system total depth is <TMPL_VAR NAME=DEPTH>.
        File most depended on was <TMPL_VAR NAME=ACHILLES>.
        Build system red flags: <TMPL_VAR NAME=BAD>.
        Build system broken-ness: <TMPL_VAR NAME=BROKEN>.

        Build system looks like:
            <img src="build.png">
    </body>
</html>
